<!DOCTYPE html>
<html>
<head>
    <title>Password List</title>
</head>
<body>

<h1>Password List</h1>

<ul>
    {% for password in passwords %}
    <li>
        <strong>Website:</strong> {{ password.website }} <br>
        <strong>Username:</strong> {{ password.username }} <br>
        <!-- <strong>Password:</strong> {{ password.decrypted_password }} Note: accessing the property 'decrypted_password' from the Password model -->
        <strong>Password:</strong> {{ password.display_password }} <!-- Note: accessing the property 'decrypted_password' from the Password model -->
    </li>
    {% endfor %}
</ul>

</body>
</html>
